<!-- <p [style.color]='titleColor'>Titlul este {{title | uppercase}}</p>
<p>Note content is: {{noteContent}}</p>
<button mat-icon-button (click)="setTitle()"> <mat-icon>add</mat-icon></button>
<mat-form-field>
    <input matInput placeholder="Add Note" [(ngModel)]= "noteContent">
</mat-form-field> -->

<!-- <p>CurrentDate is: {{currentDate }}</p>
<p>CurrentDate is: {{currentDate2 | date :'shortDates' }}</p>
<p>Number is: {{15 | addValue : 1}}</p>
<p *ngIf="true">
    Expression is true and ngIf is true.
    This paragraph is in the DOM.
  </p>
  <p *ngIf="show">
    Expression is false and ngIf is false.
    This paragraph is not in the DOM.
  </p>
  <div *ngFor="let element of array; let i=index; let odd=odd;" >
    <p> {{element}} </p>
    <p> At index {{i}} </p>
    <p> Is index an odd number?: {{odd}} </p>
    </div> -->
  
<mat-card class="add-note-card">
    <button mat-icon-button><mat-icon>add</mat-icon></button>
</mat-card>   

        